.contain{
    width: 22.5%;
    padding: 20px;
    border-radius: 16px;
    margin-left: 37%;
    margin-top: 12%;
}


.text{
    text-align: center;
    color: rgb(109, 106, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.sign{
    padding: 8px 16px 8px 16px;
    background-color: rgb(1, 2, 14);
    border-radius: 32px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-width: 0;
    margin-left: 40px;
}


.sign:hover{
    cursor: pointer;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(43, 41, 41);
}
